body {
  margin: 0px;
  background-image: url("https://i.ibb.co/kJBmC6Y/Banner-background-with-a-modern-low-poly-design.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}